$h1-color: cornflowerblue;

$nav-padding: 10px;

$li-display: inline;
$li-margin: 25px;

$a-color: white;
$a-font-size: 1.5em;

$hover-color: pink;

$body-color: lightblue;
$body-text: center;

$main-margin: 20px;

$container-background: #ffffff;

$form_input-border: 1px solid #dddddd;
$form_input-background: #eeeeee;