@import "config";

h1
{
    text-align: center;
    color: $h1-color;
}

nav {
    background-color: $h1-color;
    padding: $nav-padding;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: $li-display;
    margin-right: $li-margin;
}

nav a {
    color: $a-color;
    font-size: $a-font-size;
}

nav a:hover {
    color: $hover-color;
    text-decoration: none;
}

body {
    background-color: $body-color;
    text-align: $body-text;
}

main {
    margin-right: $main-margin;
    margin-left: $main-margin;
    background-color: $body-color;
}

img {
    width: 100%;
    height: 400px;
}

.container {
    align-items: center;
    width: 400px;
    max-width: 400px;
    // margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: $body-color;
}

.container,
.form__input,
.form__button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden {
    display: none;
}

.form>*:first-child {
    margin-top: 0;
}

.form>*:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: $form_input-border;
    outline: none;
    background: $form_input-background;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: $container-background;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: $container-background;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover {
    background: var(--color-primary-dark);
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}

.form {
    align-items: center;
    width: 400px;
    max-width: 400px;
    right: 100px;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    justify-content: center;
}